.remove-picture {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    &:hover {
    opacity: 1;
  }
}
.item-wrap {
    background-color: lightgrey;
    ;
}
.img-add {
    font-size: 50px;
}

.btn-packed {
    margin-right: 10px;
}