.remove-picture {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    &:hover {
    opacity: 1;
  }
}
.item-wrap {
    background-color: lightgrey;
    ;
}
.img-add {
    font-size: 50px;
    color: #26C6DA;
}

.btn-packed {
    margin-right: 5px;
}

.img-pres {
    height: 300px !important;
    background-size: cover !important;
    background-position: center !important;
}