<div class="footer">
  <div class="footer-copyright">
    Fait avec <i class="fas fa-heart"></i> au Wagon durant le Batch #400.
    </br>
    <br> Une suggestion ?
    <br> Envoyez-nous un message : contact@verygoodtrip.xyz
  </div>
</div>
