<div class="home-banner">
  <div class="banner-content text-center p-3">
    <h1 id="home-title">Faire sa valise en toute sérénité</h1>
    <%= link_to "Commencer", suitcases_path, class: "btn btn-primary btn-lg btn-block"  %>
  </div>
</div>

<div class="container text-center">
  <div class="home-card row">
    <div class="col mb-2">
      <h5 class="title-primary"><i class="fas fa-hourglass-half"></i></h5>
      <h5 class="title-primary">Gagnez du temps</h5>
      <p>grâce aux suggestions clé-en-main pour préparer votre valise</p>
    </div>
  </div>
  <div class="home-card row">
    <div class="col mb-2">
      <h5 class="title-primary"><i class="fas fa-history"></i></h5>
      <h5 class="title-primary">Sauvegardez vos valises</h5>
      <p>et réutilisez-les lors de vos prochains voyages</p>
    </div>
  </div>
  <div class="home-card row mx-1">
    <div class="col mb-2">
      <h5 class="title-primary"><i class="fab fa-slideshare"></i></h5>
      <h5 class="title-primary">Partagez</h5>
      <p>votre valise avec vos compagnons de voyage</p>
    </div>
  </div>


</div>
