.item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px black;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.item_user_in_charge {
  display: none;
}
