.footer {
  background: #615D74;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  padding: 0px 50px;
  color: #EDF1FC;
  text-align: center;
  margin-top: 0px;
  font-size: 13px;
  padding-bottom: 50px;
}
