.title-primary {
  color: #2FA6C8;

}

.home-card {
  margin-bottom: 4vh;
  background-color: white;
  border-radius: 6px solid grey;
  padding-top: 15px;
  box-shadow: 0px 8px 12px rgba(50, 50, 50, 0.1);;
}

.fab {
  color: #4ECAB0;
  margin-right: 10px;
}

.fas {
  color: #4ECAB0;
  margin-right: 10px;
}
