.home-banner {
  height: 80vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url("background-home-v1.jpg");
  h1 {
    font-size: 2rem;
  }
}

.banner-content {
  color: white;
  text-shadow: #615D74 1px 0 8px;
}

#home-title {
  margin-bottom:46vh;
}
