.title-primary {
  color: #2FA6C8;
  text-shadow:  1px 0 8px rgba(50, 50, 50, 0.1);
  i {
    font-size: 30px;
  }
}

.home-card {
  margin-bottom: 4vh;
  margin-left: 2px;
  margin-right: 2px;
  background-color: white;
  border-radius: 6px solid grey;
  padding-top: 15px;
  box-shadow: 0px 8px 12px rgba(50, 50, 50, 0.1);
}

.fa-history {
  color: #4ECAB0;
}

.fa-hourglass-half {
  color: #4ECAB0;
}

.fa-slideshare {
  color: #4ECAB0;
}
