.item-wrap {
  background-color: white;
  border: 1px solid lightgray;
}

.x-form {
  font-size: 30px;
  color: #EDF1FC;
  transform: rotate(45deg);
}

.x-form a {
  color: #DCE4F9;
  opacity: 1;
}

.fa-circle {
    font-size: 22px;
    color: #26C6DA;
}

.fa-check-circle {
    font-size: 22px;
    color: #4ECAB0;
}
