.far {
  font-size: 28px;
}

.fa-plus-square {
  color: #4ECAB0;
}

.fa-minus-square {
  color: #615D74;
}

.item-text-plus {
  font-size: 20px;
}

.item-text-minus {
  font-size: 20px;
  color: #615D74;
}
